@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-main-background: #fafafa;
    --color-blur-background: #d9d9d9;
    --color-active-filter: #484b6a;
    --color-completed-tasks: #d2d3db;
    --color-completed-tasks-border: #9394a5;
    --color-primer-button: #15d200;
    --color-primer-border: #0d8200;
    --color-secondary-button: #ff0000;
    --color-secondary-border: #8d0202;
    --color-side-text: #656565;
  }

  :root[data-theme="dark"] {
    --color-main-background: #181824;
    --color-blur-background: #25273c;
    --color-active-filter: #e3e4f1;
    --color-completed-tasks: #4d5066;
    --color-completed-tasks-border: #3a3c4e;
    --color-primer-button: #15d200;
    --color-primer-border: #0d8200;
    --color-secondary-button: #ff0000;
    --color-secondary-border: #8d0202;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--color-main-background);
  transition: background-color 0.3s ease-in-out;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main-background); /* Putih */
    background-image: 
    /* Garis sekunder (lebih tipis) */ linear-gradient(
        #e5e7eb 0.5px,
        transparent 0.5px
      ),
      linear-gradient(to right, #e5e7eb 0.5px, transparent 0.5px),
      /* Garis utama (lebih tebal) */
        linear-gradient(#d1d5db 1px, transparent 1px),
      linear-gradient(to right, #d1d5db 1px, transparent 1px);
    background-size: 20px 20px, /* Ukuran grid sekunder */ 20px 20px,
      100px 100px, /* Ukuran grid utama */ 100px 100px;
  }
}
